/* Yosu CSS */
/* General */
body {
	font-family: 'SanomatSansVN', sans-serif;
	font-size: 1.6rem;
	font-weight: normal;
	color: #333;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff; 
    padding-right: 0 !important;
}
html,body{ 
	-webkit-overflow-scrolling : touch !important;
	overflow: auto !important; 
	/* height: 100% !important; */
}

h4 {
	line-height: 23px;
}
p {
	line-height: 22px;
}
a {
	color: initial;
}
a:hover {
	cursor: pointer;
	text-decoration: unset;
	color: #159c40;
}
img {
	width: 100%;
	height: 100%;
}
input:focus, textarea:focus {
    border-color: rgba(21,156,64,.6) !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(21,156,64,.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(21,156,64,.6) !important;
}
ul {
	padding-left: 0;
}
li {
	list-style: none;
}
.box-img {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 70%;
}
.box-img-left {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
}
img.box-img-foot{
	width: 150px !important;
}
.box-img img, .box-img-left img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
.box-h60 {
	display: block;
	width: 100%;
	height: 60px;
	clear: both;
}
.page {
    background-color: #fff;
}
.title-main {
	color: #43BAF3;
	text-align: center;
    font-size: 4rem;
    margin-top: 40px;
    margin-bottom: 50px;
    line-height: 7rem;
    font-weight: bold;
    text-transform: uppercase;
}
.title-2 {
    color: #fff;
    font-size: 4.5rem;
    letter-spacing: 4px;
    padding-top: 10px;
}
.btn-main {
	background: #43BAF3;
    color: #fff;
    padding: 20px 70px;
    font-size: 2rem;
    letter-spacing: 1.5px;
    border-radius: 15px;
}
.btn-buy-cart{
	text-align: center;
	text-transform: uppercase;
	padding: 10px 20px;
	margin-top: 15px;
	background: #43BAF3;
	color: white;
}
.btn-main:focus {
	background: #43BAF3;
    color: #fff;
    text-decoration: none;
}
.btn-main:hover {
	background: #43BAF3;
    color: #fff;
}
.btn-disable {
	background: #b7b7b7 !important;
	color: #fff !important;
}
.color-main {
	color: #0582D2;
}
.bg-main {
	background-color: #0582D2;
}
.bg-white {
	background-color: #fff;
}
.section-padding {
	padding-top: 40px;
	padding-bottom: 40px;
}
.hidden-ipad {
	display: block !important;
}
.show-ipad {
	display: none !important;
}
.show-desktop {
	display: block !important;
}


/* Home page */

/* menu fixed */
.menu-fixed {
	position: fixed;
	top: -41px;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: #fff;
    margin: 0 auto;
    text-align: center;
    transition: all 0.5s;
    box-shadow: 4px 3px 10px 0 rgba(0,0,0,.6);
    opacity: 0;
    visibility: hidden;
}
#menu-center.active {
	top: 0;
	opacity: 1;
	visibility: visible;
}
#menu-center ul {
	margin-bottom: 0;
}
#menu-center ul li a {
	display: inline-block;
	padding: 10px 40px;
    font-size: 1.6rem;
}
#menu-center ul li {
    list-style: none;
    display: inline;
}
#menu-center ul li a.active, #menu-center ul li a:hover  {
    color: #43BAF3;
    text-decoration: none;
}

/* header */
.header {
    position: absolute;
	padding: 15px 0;
    top: 0;
    z-index: 2;
    left: 0;
    right: 0;
}
.header .logo a {
	height: 85px;
}
.header .menu-header {
	margin-top: 28px;
}
.header .menu-header ul {
	text-align: right;
}
.header .menu-header ul li {
	vertical-align: middle;
	text-align: left;
    padding: 0 15px;
}
.header .menu-header ul li:last-child {
	padding-right: 0;
}
.header .menu-header ul li a {
	color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
    line-height: 1.6;
    text-decoration: none;
}
.header .menu-header ul li a.btn-shake {
    border: 2px solid #ffff46;
    border-radius: 20px;
    color: #ffff46;
    padding: 5px 10px;
    font-weight: bold;
}
.header .menu-header ul li a i {
    font-size: 1.6rem;
    line-height: 0.5;
}
.header .menu-header ul li.active a {
	color: #fff;
	text-decoration: underline
}
.header .menu-header ul li.has-child {
	position: relative;
}
.header .menu-header ul li.has-child .menu-child {
	position: absolute;
	top: 100%;
	right: 0;
	width: max-content;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s;
	padding: 30px 0 10px;
}
.header .menu-header ul li.has-child:hover .menu-child {
	/* display: block; */
	opacity: 1;
	visibility: visible;
}
.header .menu-header ul li.has-child .menu-child li {
	background-color: #fff;
    padding: 8px 20px;
    border-bottom: 1px solid #d0d0d0;
}
.header .menu-header ul li.has-child .menu-child li a {
	color: #333;
	font-size: 1.5rem;
	text-transform: initial;
}
.header .menu-header ul li.has-child .menu-child li:hover a {
	text-decoration: underline;
}

/* home slider */
.owl-carousel .owl-dots {
    position: absolute;
    left: 10%;
    bottom: 20%;
    right: 0;
    z-index: 99;
    height: 15px;
    margin: 0 auto;
    text-align: center;
}
.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
	margin: 0 auto;
}
.owl-carousel .owl-dots .owl-dot.active span {
	background: #43BAF3;
}
.owl-carousel .owl-dots .owl-dot span {
    background: none repeat scroll #fff;
    border-radius: 20px;
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
}
.home-slider.owl-carousel .owl-dots {
    left: 15%;
    bottom: 15%;
}
.home-slider .item {
	position: relative;
	/* padding-top: 60px; */
}
.home-slider .item .bg-slider {
	/* position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1; */

    display: flex !important;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.home-slider .item .bg-slider img {
    width: 100% !important;
    height: auto;
    max-width: inherit;
}


.section {
	position: relative;
}

/* section 2 */
.section-b-top {
	position: relative;
}
.box-wheel {
    position: relative;
	max-width: 700px;
	margin: 0 auto;
    z-index: 2;
}
.box-wheel .wheel {
	position: relative;
    z-index: 2;
}
.box-horse {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.section-2 {
	position: relative;
	background: #fff;
    padding-top: 130px;
	
	overflow: hidden;
}
.section-2 .box-btn-wheel {
	position: relative;
	margin-top: 10px;
	z-index: 2;
}
.section-2 .box-btn-wheel .box-button .btn {
	margin-top: 0;
}

.section-2 .list-prize {
	position: relative;
}

.section-2 .list-prize .title-2 {
	position: relative;
    text-transform: uppercase;
    padding-bottom: 40px;
    overflow: hidden;
    display: block;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 0;
    padding-top: 0;
    font-size: 3.5rem;
}
.section-2 .list-prize .desc-prize {
	color: #fff;
	margin-bottom: 40px;
}

.section-2 .list-prize .bg-cup p {
    position: relative;
    padding-left: 100px;
    margin-bottom: 30px;
    font-size: 3.8rem;
    color: #fff;
    text-transform: uppercase;
    line-height: 4.4rem;
    letter-spacing: 1px;
}
.section-2 .list-prize .bg-cup p:before {
	position: absolute;
	content: "";
	top: 50%;
	left: 24px;
	transform: translateY(-50%);
	background-image: url('../images/icons/star-yellow.svg');
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	background-size: 100%;
}
.section-2 .list-prize .bg-cup p .date-wheel {
    display: block;
    font-size: 11px;
    line-height: 15px;
}
.section-2 .list-prize .bg-cup p .date-wheel, .home-slider-s3 .item .box-title p .date-wheel {
    display: block;
    font-size: 13px;
    line-height: 15px;
    text-transform: none;
    color: #ffff46;
}
.home-slider-s3 .item .box-title p .date-wheel {
    line-height: 18px;
}
.section-2 .list-prize .bg-cup p.best:before {
	width: 74px;
	height: 90px;
	left: 5px;
	background-image: url('../images/icons/trophy-prize.svg');
}
.section-2 .list-prize .bg-cup {
	position: relative;
}
.section-2 .list-prize .bg-cup:before {
	position: absolute;
	content: "";
	top: -20px;
	right: -50px;
	background: url('../images/icons/winner-trophy.png') no-repeat;
	background-size: contain;
	width: 212px;
	height: 275px;
    transform: rotate(20deg);
}
/* section 3 */
.section-3 {
	
	position: relative;
}
.section-w-top:before {
	position: absolute;
	content: "";
	bottom: -1px;
	left: 0;
	background: url('../images/bg-section-white.png') no-repeat;
	background-size: 100%;
    background-position: bottom;
	width: 100%;
	height: 470px;
    pointer-events: none;
}

.content-s3 {
	position: relative;
	max-width: 1630px;
}
.content-s3 .item {
    position: relative;
}
.content-s3 .item-2 .box-img {
	height: 280px;
}
.m-content-s3 {
	display: none;
}

/* section 4 */
.section-4 {
	position: relative;
}
.section-4 .title-main {
	margin-bottom: 30px;
}
.content-s4 {
	position: relative;
	overflow: hidden;
	display: block;
	width: 100%;
	border-radius: 20px;
	padding: 15px 15px 70px 15px;
    z-index: 1;
    background: #fff;
    border: 3px solid #43BAF3;
}
/* .content-s4:before {
	content: "";
	position: absolute;
	border: 10px dashed #43BAF3;
	border-radius: 29px;
	top: -8px;
	bottom: -8px;
	left: -8px;
	right: -8px;
	pointer-events: none;
} */
.content-s4 .text-editor {
    color: #757575;
}
.content-s4 .text-editor p {
	font-weight: 200;
	color: #757575;
    line-height: 1.5;
    margin-top: 0;
    text-align: left;
    color: #757575;
}
.content-s4 .text-editor b {
    font-weight: 700;
}
.content-s4 .text-editor ul {
    padding-left: 3rem;
}
.content-s4 .text-editor ul li {
    list-style: initial;
    font-weight: 300;
    padding-bottom: 7px;
}
.content-s4 .text-editor table {
    font-weight: 300;
}
.content-s4 .text-editor table td {
    padding: 10px;
}
.section-4 .banner-top {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 0;
}
.section-4 .banner-top-left {
	position: absolute;
    left: -39px;
    top: 45px;
    pointer-events: none;
}
.section-4 .banner-top-right {
	position: absolute;
    right: -8px;
    top: 45px;
    pointer-events: none;
}
.section-4 .banner-bot-left {
	position: absolute;
    left: -26px;
    bottom: -75px;
}
.section-4 .banner-bot-right {
	position: absolute;
    right: -100px;
    bottom: -90px;
}
.section-4 .box-button {
	position: absolute;
    bottom: -14px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}
.section-4 .box-button .btn-main {
    padding: 15px 30px;
}
.section-4 .content-s4 .text-editor {
    margin-top: -1px;
    overflow: hidden;
    max-height: 207px;
    position: relative;
    -webkit-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: max-height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.section-4.show-all .content-s4 .text-editor {
	max-height: 2000px;
}
.section-4.show-all .btn-readmore {
	display: none;
}


/* section 5 */

.content-s5 {
    position: relative;
    z-index: 2;
    padding-top: 30px;
}
.content-s5 .item-step .step {
	color: #43BAF3;
	font-weight: bold;
	font-size: 2.5rem;
	margin-top: 30px;
	margin-bottom: 20px;
}
.content-s5 .item-step .desc {
	color: #737684;
    /* font-size: 1.6rem; */
    font-weight: 500;
    padding: 0 10px;
    height: 66px;
}
.content-s5 .item-step .desc span {
	color: #43BAF3;
}
.content-s5 .item-step .border {
	/* border: 4px solid #43BAF3; */
	padding: 20px 15px;
	background: #fff;
	border-radius: 20px;
}
.content-s5 .item-step .border:before {
	position: absolute;
	content: "";
	top: calc(50% - 120px);
	right: 0;
	width: 2px;
	height: 100px;
	background-color: #43BAF3;
}
.home-slider-s5 .owl-item:last-child .item-step .border:before {
	display: none;
}
.content-s5 .item-step .box-img {
	height: 258px;
}

/* section 6 */
.section-6 {
	margin-top: -1px;
}
/* .section-6.section-b-top:before {
    background-image: url('../images/bg-section-02.svg');
} */
.section-6 .title-main {
	padding-top: 10px;
}
.section-6 .iframe-youtube {
	max-width: 1366px;
	margin: 0 auto;
    overflow: hidden;
    /* border: 5px solid #7ce24b;
    	border-radius: 15px; */
}
.section-6 .iframe-youtube {
	height: 704px;
}
.section-6 .iframe-youtube iframe {
	width: 100%;
	height: 700px;
	/* border: 2px solid #7ce24b; */
}

/* section 7 */
.section-7 {
	position: relative;
}
.bg-section-top-s7 {
    background-color: #43BAF3;
}
/* .section-7:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: url(../images/bg-section-white.png) no-repeat;
    background-size: 100%;
    background-position: bottom;
    width: 100%;
    height: 460px;
} */
.section-7 .banner-top-left, .section-7 .banner-top-right {
	position: absolute;
    top: -280px;
	left: 5%;
}
.section-7 .banner-top-left .box-img, .section-7 .banner-top-right .box-img {
	height: 330px;
}
.section-7 .banner-top-right {
	left: initial;
    top: -160px;
	right: 10%;
}
.content-s7 {
	background-color: #fff;
}
.content-s7 .title-main {
	position: relative;
}
/* .content-s7 .title-main:before, .content-s7 .title-main:after {
	position: absolute;
	content: "";
    top: -130px;
    left: 0;
    background-size: 100%;
    width: 75px;
    height: 143px;
} */
/* .content-s7 .title-main:before {
	background: url('../images/icons/mua-lan.png') no-repeat;
}
.content-s7 .title-main:after {
	background: url('../images/icons/winner-trophy.png') no-repeat;
	right: 0;
	top: -170px;
	left: initial;
	width: 227px;
    height: 330px;
} */
.content-s7 .title-list {
    background-color: #43BAF3;
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    padding: 20px 15px;
    text-transform: uppercase;
    border-radius: 10px;
    margin-bottom: 30px;
}
.content-s7 .table {
    color: #9f9f9f;
}
.content-s7 .table tr td {
    border-top: 0;
    padding: 5px 8px;
}
.content-s7 .table-2 {
	padding: 0 0 0 40px;
}
.content-s7 .table-2 table tr td.color-main{
    width: 54%;
}
.section-7 .img-bottom-s7 {
    margin-top: 50px;
}

/* Footer */
.footer {
	color: #fff;
	font-weight: 300;
	padding-top: 20px;
}
.pd-b-f{
	padding-bottom: 20px;
}
.footer .logo-footer a {
	width: 70px;
}
.footer .info-company p {
	margin-bottom: 5px;
}
.footer .title-footer {
	font-size: 1.6rem;
	text-transform: uppercase;
}
.footer .link-footer ul li a {
	font-weight: 300;
    color: #fff;
    line-height: 1.6;
}
.footer .link-footer ul li a:hover {
	text-decoration: underline;
}
.footer .desc-fot {
    padding-top: 17px;
}
.footer .box-moit a {
	height: 56px;
}
.footer .link-social li {
	padding: 0 30px;
}
.footer .link-social {
	margin-bottom: 30px;
    padding-top: 5px;
}
.footer .link-social a {
	display: flex;
	align-items: center;
	justify-content: center;
    background: #fff;
    border-radius: 50%;
	width: 36px;
	height: 36px;
    color: #159c40;
}
.footer .link-social a i {
	font-size: 20px;
}
.bot-footer {
	font-size: 1.5rem;
    padding: 20px 0 10px;
    background-color: #363A45;
}
.bot-footer .policy a {
	color: #fff;
}
.bot-footer .copyright {
	font-weight: 500;
}
.bot-footer .playstore ul {
	width: max-content;
    margin-left: auto;
}
.bot-footer .playstore ul a {
	width: 143px;
}

.banner-top-s4 {
	display: none;
}

/* Modal popup */
.modal-body {
	padding: 40px;
}
.modal-style-2 .modal-body {
	background: #057BD2;
}
.modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 1;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #b3b3b3;
}
.modal-style-2 .close {
	color: #fff;
}
.modal .content-popup {
	padding: 30px 20px;
	text-align: center;
	position: relative;
}
.modal-style-1 .content-popup {
	border: 2px solid #43BAF3;
	border-radius: 10px;
}
.modal-style-2 .content-popup .bg-icon-left {
	position: absolute;
	top: 0;
	left: -40px;
	height: 250px;
}
.modal-style-2 .content-popup .bg-icon-right {
	position: absolute;
	bottom: -25px;
    right: -20px;
}
.modal-style-2 .content-popup {
	border: 2px solid #fff;
	border-radius: 10px;
}
.modal-style-1 .title-popup {
	color: #43BAF3;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 3rem;
    margin-top: 0;
}
.modal-style-2 .title-popup {
	color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 3rem;
    margin-top: 0;
}
.modal-style-1 form .form-control {
	border: 0;
	border-bottom: 1px solid #43BAF3;
	box-shadow: none;
	border-radius: 0;
	padding-left: 0;
}
.modal-style-1 form .form-control:focus {
	box-shadow: none !important;
}
.modal-style-1 form .checkbox {
	text-align: left;
}
.modal-style-1 form .checkbox label{
	font-size: 1.4rem;
	color: #828282;
}
.modal-style-1 form .btn-main {
    padding: 10px 30px;
    font-size: 1.4rem;
    text-transform: uppercase;
    border-radius: 5px;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 10px;
}
.modal-style-2 .btn-main {
	padding: 10px 30px 8px;
    font-size: 1.4rem;
    text-transform: uppercase;
    border-radius: 5px;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 10px;
    background: #ffff46;
    color: #43BAF3;
    border: 2px solid #ffff46;
}
.modal-style-2 .btn-main.btn-style-2 {
    background: #43BAF3;
    color: #fff;
    border: 2px solid #ffff46;
}
.modal-style-2 .box-button .btn {
    width: max-content;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.modal .text-noti {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 0;
}
.modal .text-noti.noti-red {
    color: #ed3d3d;
}
.modal .text-noti.noti-green {
    color: #43BAF3;
}
.modal .text-noti.noti-yellow {
    color: #ffff46;
}
.modal .text-noti.noti-white {
    color: #fff;
}
.modal form .form-control.error, .modal form .form-control.error:focus {
	color: #ed3d3d;
	border-bottom: 1px solid #ed3d3d;
}
.modal .checkbox.error label {
	color: #ed3d3d;
	border-bottom: 1px solid #ed3d3d;
}
.modal form .form-control.error::placeholder { 
  color: #ed3d3d;
  opacity: 1; /* Firefox */
}

.modal form .form-control.error:-ms-input-placeholder { 
  color: #ed3d3d;
}

.modal form .form-control.error::-ms-input-placeholder { 
  color: #ed3d3d;
}

.modal-style-3 .content-popup{
	padding: 0;
}
.modal-style-3 .modal-body {
    padding: 0;
}
.modal-style-3 .close {
    /* z-index: 3; */
}
.modal-style-3 .content-popup {
    border: 0;
    border-radius: 0;
}
.modal-style-3 .box-action-s6 .title-popup {
    margin-bottom: 5px;
}
.modal-style-3 form .btn-main {
    margin-top: 0;
}
.modal-style-3 .content-popup .box-img {
	position: relative;
	z-index: 2;
}
.box-action-s6 {
    position: absolute;
    bottom: 10%;
    left: 0px;
    width: 50%;
    z-index: 3;
}
#myModal8 .box-action-s6 {
	padding-left: 30px;
}
.box-input-code {
	position: relative;
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box-input-code input {
    width: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 0;
    text-align: center;
    padding: 10px 10px 10px 10px;
    flex: 1;
}
.box-input-code .btn-copycode {
    background: #ffff45;
    color: #43BAF3;
    /* position: absolute; */
    top: 0;
    right: 0;
    line-height: 42px;
    padding: 0 15px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


/* ==================== Mobile ========================*/
.m-home-slider {
	/* display: none !important; */
}
#menu {
   opacity: 0;
   visibility: hidden;
}
#menu.mm-menu_opened {
   opacity: 1;
   visibility: visible;
   /* z-index: 1; */

    width: 100%;
    min-width: 140px;
    max-width: 767px;

}
/* Mobile css */
.header-mobile {
	/* display: none; */
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 40px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 100%;
	height: 60px;
    /* box-shadow: 4px 3px 10px 0 rgba(0,0,0,.6); */
	z-index: 9;
}
.header-mobile .logo-mobile {
	padding-top: 10px;
	position: absolute;
    left: 15px;
}
.header-mobile .logo-mobile a {
	width: 100px;
	height: 40px;
}
.header-mobile.fixed {
	position: fixed;
	top: 0;
	left: 0;
}

.header-mobile .icon-menu {
    display: block;
    width: 30px;
    height: 40px;
    padding: 11px 0;
    position: absolute;
    top: 5px;
    right: 15px;
}
.header-mobile a:before,
.header-mobile a:after {
	content: '';
	display: block;
	background: #43BAF3;
	height: 2px;
}
.header-mobile a span {
	background: #43BAF3;
	display: block;
	height: 2px;
	margin: 6px 0;
}
.mm-menu li.active a, .mm-menu li:hover a {
	color: #159c40;
	font-weight: bold;
}
.mm-menu .mm-navbar a, .mm-menu .mm-navbar>* {
    color: #333;
}

/* ==================== end Mobile ========================*/


/* Deal mobile */
.flex-img {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 70%;
    background: #f5f5f5;
}
/* .flex-img .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
} */
.flex-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 100%;
	max-height: 100%;
	width: auto;
}

.section-deal {
	padding: 30px 0;
}
.section-deal .item-deal {
	margin-bottom: 30px;
}
.section-deal .title-main {
	position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}
.section-deal .title-main:before {
    position: absolute;
    content: "";
    top: -30%;
    right: -110px;
    background: url('../images/icons/pig-03.png') no-repeat;
    background-size: 100%;
    width: 112px;
    height: 96px;
}
.deal-content .item-deal {
	border: 1px solid #d2d2d2;
}
.deal-content .item-deal .flex-img {
    padding-bottom: 54.93%;
}
.deal-content .item-deal .box-title {
	padding: 10px;
	text-align: center;
}
.deal-content .item-deal .box-title h3 {
	font-size: 1.8rem;
	margin: 0;
}

.box-fireworks {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
    z-index: 1;
    overflow: hidden;
}
.box-fireworks .fireworks {
	position: absolute;
	width: 800px;
	height: 500px;
}

/* .box-fireworks {
	width: 800px; 
	height: 500px;
	background: #000;
	position: relative;
} */
/* .box-fireworks canvas {
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
	width: 100%; 
	height: 100%;
}
 */

#__wheel * {
    cursor: default !important;
}

/*======================== RESPONSIVE ==========================*/
/*==============================================================*/
@media (min-width: 1630px) {
	/* .container {
	    width: 1400px;
	} */
	.content-s5 .item-step {
    	padding-right: 20px;
		padding-left: 20px;	
	}
	.deal-content {
		width: 1200px;
	}
}
@media (min-width: 992px) {
	.modal-style-3 .modal-dialog {
	    width: 800px;
	}

	.banner-home {
	    margin-top: -40px;
	}
	.header-mobile {
		display: none;
	}

	.section-2 .list-prize .title-2:after {
	    content: "";
		position: absolute;
		border-bottom: 10px dashed #fff;
		top: -8px;
		bottom: -8px;
		left: -8px;
		right: -8px;
		transform: scaleX(2);
	}

	
}
@media (min-width: 768px) {
	.home-slider.owl-carousel .owl-dots {
		text-align: left;
	}
	.footer .box-moit a {
		justify-content: flex-end;
	}

	.content-s3 .item-3 .box-img {
		position: absolute;
		top: -45px;
		left: -20px;
		height: 240px;
	}
	.content-s3 .item-4 .box-img {
		position: absolute;
		top: -60px;
		height: 194px;
		right: 0;
		left: 0;
	}

}


@media (max-width: 1629px) {
	body {
		font-size: 1.6rem;
		font-family: Arial, Helvetica, sans-serif;
	}
	.title-2 {
	    font-size: 3.5rem;
    	font-weight: bold;
	}
	.title-main {
	    font-size: 4rem;
	    line-height: 4rem;
	}
	.btn-main {
	    padding: 20px 50px;
	    font-size: 1.8rem;
	}

	.header .menu-header ul li {
	    padding: 0 15px;
	}
	.header .menu-header ul li a {
	    font-size: 1.5rem;
	}

	.section-2 {
		/* margin-top: 80px; */
	}
	.bg-section-top.icon-i2:after {
		top: 10px;
	    width: 180px;
        height: 137px;
	}
	
	.section-2 .list-prize .bg-cup p {
	    font-size: 2.4rem;
	    line-height: 3.4rem;
	}
	.section-2 .list-prize .bg-cup:before {
	    width: 160px;
	    height: 245px;
	}
	.section-2 .list-prize .title-2 {
	    margin-bottom: 50px;
	}
	.bg-section-top .icon-i2 {
        bottom: -40px;
	    height: 140px;

	}
	
	.content-s3 .item-1 .box-img {
	    height: 240px;
	}

	.banner-top-s4 {
		display: block;
	}

	.content-s5 .item-step .border {
	    padding: 15px;
	}
	.content-s5 .item-step .desc {
		padding: 0;
	}

	.section-6 .iframe-youtube {
	    height: 604px;
	}
	.section-6 .iframe-youtube iframe {
	    height: 600px;
	}

	.section-7 .banner-top-left {
		top: -180px;
	}
	.section-7 .banner-top-left .box-img, .section-7 .banner-top-right .box-img {
		height: 220px;
	}
	.section-7 .banner-top-right {
	    top: -70px;
	}
	.content-s7 .title-list {
		font-size: 2rem;
	}

}
/* end @media (max-width: 1629px) */

@media (max-width: 1400px) {
	.bg-section-top .icon-i2 {
	    bottom: -30px;
	    height: 120px;
	}
}
/* end @media (max-width: 1400px) */

@media (max-width: 1199px) {
	#menu-center ul li a {
	    padding: 10px 20px;
		font-size: 1.5rem;
	}

	.header .menu-header ul li a {
	    font-size: 1.3rem;
	}
	.header .menu-header ul li {
	    padding: 0 15px;
	}

	.section-2 .list-prize .bg-cup p {
	    line-height: 2.5rem;
	}

	.home-slider-s5.owl-carousel .owl-dots {
	    bottom: -30px;
	    left: 0;
	}
	.home-slider-s5.owl-carousel .owl-dots .owl-dot span {
		background: #fff;
	}
	.home-slider-s5.owl-carousel .owl-dots .owl-dot.active span {
		background: #ffff46;
	}
	.home-slider .item {
		padding-bottom: 0;
	}
	.bg-section-top .icon-i2 {
        bottom: -20px;
    	height: 80px;
	}

	.section-2 .list-prize .bg-cup:before {
	    width: 130px;
	    height: 175px;
	    top: 0;
	}

	.section-6 .iframe-youtube {
	    height: 504px;
	}
	.section-6 .iframe-youtube iframe {
	    height: 500px;
	}

	.content-s7 .table-2 {
	    padding: 0;
	}
	.content-s7 .title-list {
	    font-size: 1.7rem;
	}
}
/* end @media (max-width: 1199px) */

@media (max-width: 991px) {

	.hidden-ipad {
		display: none !important;
	}
	.show-ipad {
		display: block !important;
	}
	.show-desktop {
		display: none !important;
	}

	#menu-center {
		display: none;
	}
	.header {
		display: none;
	}
	.header-mobile {
		display: block;
	    position: fixed;
    	top: 0;
	}
	.bg-section-top.icon-i2:after {
	    width: 120px;
	    height: 84px;
	}
	.footer .link-social {
	    padding-top: 15px;
	}

	.bg-section-top .icon-i2 {
	    height: 100px;
	}
	.section-2 {
		padding-bottom: 0;
	}
	.section-2 .list-prize .title-2 {
		/* display: none; */
		padding-top: 20px;
		margin-bottom: 0;
	}
	.section-2 .list-prize .bg-cup {
		display: none;
	}

	.section-3 .title-2 {
	    margin-bottom: 0;
	}
	.section-3 .title-2 {
		width: 100%;
		text-align: center;
		line-height: 4.2rem;
		margin-bottom: 30px;
	}
	.bg-section-top .icon-i2 {
        bottom: -15px;
	    right: 6%;
	    height: 70px;
	}
	.m-content-s3 {
		position: relative;
	    padding-top: 40px;
	}
	.m-content-s3 .title-2 {
		margin-top: 0;
		position: relative;
	    width: max-content;
	    margin-left: auto;
	    margin-right: auto;
	}
	.m-content-s3 .title-2:before {
		position: absolute;
		content: "";
	    top: -100%;
	    left: -100px;
	    background: url(../images/icons/winner-trophy-flip.png) no-repeat;
	    background-size: 100%;
	    width: 100px;
	    height: 150px;
        pointer-events: none;
	}


	/* Home Slider */
	.content-s3 {
		display: none;
	}
	.m-content-s3 {
		display: block;
	}
	.owl-carousel .owl-dots .owl-dot span {
		width: 10px;
		height: 10px;
	}
	.owl-carousel .owl-dots {
		left: 0;
		right: 0;
	}
	.home-slider-s3 {
		padding-bottom: 80px;
	    padding: 0 15px;
	}
	.home-slider-s3 .owl-dots .owl-dot.active span {
		background: #ffff46;
	}
	.home-slider-s3 .item {
		margin-bottom: 70px;
	}
	.home-slider-s3 .item .box-title {
		text-align: center;
	}
	.home-slider-s3 .item .box-title p {
		color: #fff;
		display: inline-block;
		padding: 25px 0;
		font-size: 3rem;
		margin-bottom: 30px;
		line-height: 3.5rem;
		position: relative;
	}
	.home-slider-s3 .item .box-title p:before, .home-slider-s3 .item .box-title p:after {
		position: absolute;
		content: "";
		background: url('../images/icons/star-yellow.svg') no-repeat;
		top: 50%;
		width: 34px;
		height: 34px;
	}
	.home-slider-s3 .item .box-title p:before {
		left: -50px;
		transform: translateY(-50%) rotate(-20deg);
	}
	.home-slider-s3 .item .box-title p:after {
		right: -50px;
		transform: translateY(-50%) rotate(20deg);
	}
	.home-slider-s3 .item .box-title p.best:before, .home-slider-s3 .item .box-title p.best:after {
		top: 50%;
	}
	.home-slider-s3 .item .box-title p.best:before {
		left: -60px;
		width: 50px;
		height: 50px;
		background: url('../images/icons/trophy-prize.svg') no-repeat;
	}
	.home-slider-s3 .item .box-title p.best:after {
		right: -60px;
		width: 50px;
		height: 50px;
		background: url('../images/icons/trophy-prize-flip.svg') no-repeat;
	}


	.section-4 .banner-bot-right {
	    position: absolute;
	    right: 0;
	    bottom: initial;
	    top: 0;
	    width: 100px;
	}
	.content-s4:before {
	    border: 5px dashed #43BAF3;
	    border-radius: 24px;
	    top: -4px;
	    bottom: -4px;
	    left: -4px;
	    right: -4px;
	}
	.section-4 .content-s4 .text-editor {
	    max-height: 221px;
	}
	.section-4 .btn-main {
        padding: 15px 20px;
    	font-size: 1.3rem;
	}
	.section-4.show-all .content-s4 .text-editor {
	    max-height: 5000px;
	}

	.m-content-s5 {
		display: block;
	}

	.m-content-s7 .nav-tabs {
		border-bottom: 0;
	}
	.m-content-s7 .nav-tabs li {
		width: 50%;
		text-align: center;
		border: 0;
		padding: 0 10px;
	}
	.m-content-s7 .nav-tabs li:first-child {
		padding-left: 0;
	}
	.m-content-s7 .nav-tabs li:last-child {
		padding-right: 0;
	}
	.m-content-s7 .nav-tabs li a {
		text-transform: uppercase;
		color: #43BAF3;
		border-radius: 5px;
		border: 2px solid #43BAF3;
	    padding: 5px 10px;
	}
	.m-content-s7 .nav-tabs li.active a {
		color: #fff;
		background: #43BAF3;
	}
	.m-content-s7 .table-responsive {
		border: 0;
		padding-top: 20px;
	}
	.section-7 .img-bottom-s7 {
	    margin-top: -20px;
	}

	.box-action-s6 {
		padding-bottom: 30px;
		width: 100%;
    	position: relative;
	    background: #43BAF3;
	}
	#myModal8 .box-action-s6 {
	    padding: 0 15px 30px;
	}
	.box-fireworks .fireworks {
	    height: 700px;
	}

	
}
/* end @media (max-width: 991px) */

@media (max-width: 767px) {
	body.modal-open {
	    position: fixed;
	    left: 0;
	    right: 0;
	}
	.modal-body {
	    padding: 20px;
	}
	.modal .close {
	    top: 0;
	    right: 0;
	}
	.modal-open .mm-slideout {
		z-index: initial;
	}
	.section-padding {
		padding-bottom: 50px;
	}
	.title-main {
	    font-size: 4rem;
	    line-height: 4rem;
	    margin-bottom: 30px;
	}
	.title-main .br {
		display: block;
	}
	.footer .line-footer {
		display: none;
	}
	.bot-footer .policy {
		text-align: center;
	}
	.bot-footer .playstore {
		display: none;
	}

	.home-slider .item {
		padding-top: 0;
		padding-bottom: 0;
	}
	.home-slider .item .container {
		padding: 0;
	}
	.home-slider.owl-carousel .owl-dots {
		left: 0;
    	bottom: 20px;
	}
	.bg-section-top .icon-i2 {
	    right: 5%;
	    height: 50px;
	}

	.section-2 .no-padding {
		padding: 0;
	}

	.section-4 .title-main.m-title {
		position: relative;
	    text-align: center;
	    margin-left: auto;
	    margin-right: auto;
	    width: max-content;
	}
	/* .section-4 .title-main.m-title:before {
		position: absolute;
		content: "";
		top: -50%;
		right: -30px;
		background: url('../images/icons/pig-03.png') no-repeat;
		background-size: 100%;
	 	    width: 92px;
	    	height: 84px
	} */
	.section-4 .banner-bot-left {
	    left: 0;
	    bottom: -25px;
	}
	.section-4 .banner-top-right {
		position: absolute;
	    top: -20px;
	    right: 0;
	}
	.content-s4 {
		margin-top: 30px;
        padding: 30px 50px 40px;
	}
	.home-slider-s5.owl-carousel .owl-dots {
		bottom: -40px;
	}
	
	.section-5 {
		position: relative;
	}
	.section-5:after {
	    position: absolute;
	    content: "";
	    bottom: 0;
	    right: 10px;
	    background: url('../images/icons/human-guide.png') no-repeat;
	    background-size: 100%;
	    width: 70px;
	    height: 130px;
	    z-index: 2;
	}
	.home-slider-s5 .item  {
	    padding: 0 50px;
	}
	.content-s5 .item-step .border {
	    border-radius: 40px;
	}
	.home-slider-s5.owl-carousel .owl-dots .owl-dot span {
		background: #828282;
	}
	.home-slider-s5.owl-carousel .owl-dots .owl-dot.active span {
		background: #43BAF3;
	}

	.section-6 .title-main {
	    margin-top: 0;
	}

	.section-7 .banner-top-left .box-img, .section-7 .banner-top-right .box-img {
	    height: 140px;
	}
	.section-7 .title-main {
	    margin-top: 20px;
	    margin-bottom: 10px;
	}
	.section-7 .banner-top-left {
	    top: -110px;
	}
	.m-content-s7 .nav-tabs li a {
		font-size: 1.5rem;
	}
	.m-content-s7 .table-2 {
		padding: 20px 0 0 ;
	}

	.modal {
	  text-align: center;
	  padding: 0!important;
	}

	.modal:before {
	  content: '';
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;
	  margin-right: -4px; /* Adjusts for spacing */
	}

	.modal-dialog {
	  display: inline-block;
	  text-align: left;
	  vertical-align: middle;
	}

	.section-deal .title-main:before {
		display: none;
	}

	
}
/* end max-width: 767px */

@media (max-width: 480px) {

	.title-2 {
	    font-size: 2.5rem;
        letter-spacing: 2px;
	}
	.section-3 .title-2 {
	    line-height: 3rem;
	}
	.title-main {
	    font-size: 2.5rem;
	    line-height: 3rem;
        letter-spacing: 2px;
	}

	.owl-carousel .owl-dots .owl-dot span {
	    width: 5px;
	    height: 5px;
	}
	.m-content-s3 .title-2:before {
	    top: -100%;
	    left: -95px;
	    width: 80px;
	    height: 120px;
        transform: rotate(-20deg);
	}
	.home-slider-s3 .item .box-img {
		height: 170px;
	}
	.home-slider-s3 .item .box-title p {
	    font-size: 2rem;
	    line-height: 2.5rem;
	}
	.home-slider-s3 .item .box-title p {
	    padding: 10px 0;
	}
	.home-slider-s3 .item {
	    margin-bottom: 40px;
	}
	.home-slider-s3 .item .box-title p.best:before {
	    left: -50px;
	    width: 40px;
	    height: 40px;
	}
	.home-slider-s3 .item .box-title p.best:after {
	    right: -50px;
	    width: 40px;
	    height: 40px;
	}
	.m-content-s3 {
	    padding-top: 20px;
	}
	.section-3 .title-2 {
	    margin-bottom: 10px;
	}

	.section-4 .title-main.m-title:before {
	    top: -65%;
	    right: -22px;
	    width: 72px;
	    height: 84px;
	}
	.content-s4 {
	    margin-top: 10px;
	    padding: 20px 15px 25px;
	}
	.section-4 {
		padding-bottom: 30px;
	}
	.section-4 .title-main.m-title {
		margin-bottom: 10px;
	}
	.section-4 .banner-top-right {
	    top: -12px;
	    height: 45px;
	}
	.section-4 .banner-bot-left {
	    left: 0;
	    bottom: -25px;
	    height: 45px;
	}

	.section-5 .title-main {
	    margin-top: 0;
	    margin-bottom: 20px;
	}
	.section-5:after {
	    bottom: 0;
	    right: 20px;
	    width: 70px;
	    height: 140px;
	    z-index: 2;
	}
	.content-s5 .item-step .border {
	    padding: 15px 30px;
	}
	.content-s5 .item-step .desc {
		height: auto;
	}

	.section-6 .iframe-youtube {
	    height: 304px;
        border: 2px solid #7ce24b;
	}
	.section-6 .iframe-youtube iframe {
	    height: 300px;
	}
	.m-content-s7 .nav-tabs li a {
	    font-size: 1.4rem;
	}
	.content-s7 .table {
	    font-size: 1.3rem;
	}
	.m-content-s7 .table-2 {
	    padding: 20px 0 0 30px;
	}
	.section-7 .banner-top-left .box-img, .section-7 .banner-top-right .box-img {
	    height: 110px;
	}
	.section-7 .banner-top-right {
	    right: 5%;
	}

	.modal .text-noti {
	    font-size: 1.3rem;
        line-height: 1.6rem;
	}
	.modal-style-2 .box-button .btn {
	    margin-left: 5px;
	    margin-right: 5px;
	}
	.modal-style-2 form .btn-main {
	    padding: 10px 15px;
	}
	.modal .content-popup {
	    padding: 20px;
	}
	.modal-style-1 .title-popup, .modal-style-2 .title-popup {
	    font-size: 1.6rem;
	    line-height: 2.2rem;
	}

	.modal-style-3 .content-popup {
	    padding: 0;
	}

	.box-action-s6 {
	    bottom: 2%;
	}
	.box-input-code input {
	    width: 100%;
	    padding: 5px 132px 5px 10px;
	    border-top-right-radius: 5px;
   		border-bottom-right-radius: 5px;
	}
	.box-input-code .btn-copycode {
		position: absolute;
		right: 0;
	    line-height: 32px;
	    font-size: 1.3rem;
	    width: 122px;
	  
   		/* border-bottom-right-radius: 5px;  border-top-right-radius: 5px; */
   		padding: 0 5px;
	}
	

}
/* end max-width: 480px */


@media (max-width: 380px) {
	.m-content-s7 .nav-tabs li a {
	    font-size: 1.1rem;
	}
	.content-s5 .item-step .box-img {
	    height: 160px;
	}
	.content-s5 .item-step .border {
	    padding: 15px 10px;
	}
	.section-5:after {
	    width: 50px;
	}
	.section-4 .content-s4 .text-editor {
	    max-height: 234px;
	}

	.section-7 .banner-top-left {
	    top: -90px;
	}
	.section-7 .banner-top-right {
	    right: 0;
	    top: -50px;
	}
	.section-7 .banner-top-left .box-img, .section-7 .banner-top-right .box-img {
	    height: 90px;
	}
}
/* end max-width: 380px */



/* ===================================================================================================== */
/* ===================================================================================================== */
/* ===================================================================================================== */
/* ===================================================================================================== */



.mm-slideout { z-index:auto;}

/* Fix Menu Mobile Right */

.mm-wrapper_opening .mm-menu_columns-2.mm-menu_position-right.mm-menu_opened~.mm-slideout {
    -webkit-transform: translate3d(-80vw, 0, 0);
    transform: translate3d(-80vw, 0, 0)
}

@media all and (max-width:300px) {
    .mm-wrapper_opening .mm-menu_columns-2.mm-menu_position-right.mm-menu_opened~.mm-slideout {
        -webkit-transform: translate3d(-240px, 0, 0);
        transform: translate3d(-240px, 0, 0)
    }
}

@media all and (min-width:1100px) {
    .mm-wrapper_opening .mm-menu_columns-2.mm-menu_position-right.mm-menu_opened~.mm-slideout {
        -webkit-transform: translate3d(-880px, 0, 0);
        transform: translate3d(-880px, 0, 0)
    }
}

.mm-wrapper_opening .mm-menu_columns-3.mm-menu_position-right.mm-menu_opened~.mm-slideout {
    -webkit-transform: translate3d(-80vw, 0, 0);
    transform: translate3d(-80vw, 0, 0)
}

@media all and (max-width:300px) {
    .mm-wrapper_opening .mm-menu_columns-3.mm-menu_position-right.mm-menu_opened~.mm-slideout {
        -webkit-transform: translate3d(-240px, 0, 0);
        transform: translate3d(-240px, 0, 0)
    }
}

@media all and (min-width:1650px) {
    .mm-wrapper_opening .mm-menu_columns-3.mm-menu_position-right.mm-menu_opened~.mm-slideout {
        -webkit-transform: translate3d(-1320px, 0, 0);
        transform: translate3d(-1320px, 0, 0)
    }
}

.mm-wrapper_opening .mm-menu_columns-4.mm-menu_position-right.mm-menu_opened~.mm-slideout {
    -webkit-transform: translate3d(-80vw, 0, 0);
    transform: translate3d(-80vw, 0, 0)
}

@media all and (max-width:300px) {
    .mm-wrapper_opening .mm-menu_columns-4.mm-menu_position-right.mm-menu_opened~.mm-slideout {
        -webkit-transform: translate3d(-240px, 0, 0);
        transform: translate3d(-240px, 0, 0)
    }
}

@media all and (min-width:2200px) {
    .mm-wrapper_opening .mm-menu_columns-4.mm-menu_position-right.mm-menu_opened~.mm-slideout {
        -webkit-transform: translate3d(-1760px, 0, 0);
        transform: translate3d(-1760px, 0, 0)
    }
}

.mm-wrapper_opened .mm-menu_fx-menu-zoom.mm-menu_position-right {
    -webkit-transform: scale(.7, .7) translate3d(30%, 0, 0);
    transform: scale(.7, .7) translate3d(30%, 0, 0);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center
}

.mm-wrapper_opening .mm-menu_fx-menu-zoom.mm-menu_position-right {
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
    transform: scale(1, 1) translate3d(0, 0, 0)
}

.mm-wrapper_opened .mm-menu_fx-menu-slide.mm-menu_position-right {
    -webkit-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0)
}

.mm-wrapper_opening .mm-menu_fx-menu-slide.mm-menu_position-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.mm-wrapper_opening .mm-menu_fullscreen.mm-menu_position-right.mm-menu_opened~.mm-slideout {
    -webkit-transform: translate3d(-100vw, 0, 0);
    transform: translate3d(-100vw, 0, 0)
}

@media all and (max-width:140px) {
    .mm-wrapper_opening .mm-menu_fullscreen.mm-menu_position-right.mm-menu_opened~.mm-slideout {
        -webkit-transform: translate3d(-140px, 0, 0);
        transform: translate3d(-140px, 0, 0)
    }
}

@media all and (min-width:10000px) {
    .mm-wrapper_opening .mm-menu_fullscreen.mm-menu_position-right.mm-menu_opened~.mm-slideout {
        -webkit-transform: translate3d(-10000px, 0, 0);
        transform: translate3d(-10000px, 0, 0)
    }
}

.mm-menu_position-right {
    left: auto;
    right: 0
}
.mm-wrapper_opening .mm-menu_position-right.mm-menu_opened~.mm-slideout {
    -webkit-transform: translate3d(-80vw, 0, 0);
    transform: translate3d(-80vw, 0, 0)
}

@media all and (max-width:300px) {
    .mm-wrapper_opening .mm-menu_position-right.mm-menu_opened~.mm-slideout {
        -webkit-transform: translate3d(-240px, 0, 0);
        transform: translate3d(-240px, 0, 0)
    }
}

@media all and (min-width:550px) {
    .mm-wrapper_opening .mm-menu_position-right.mm-menu_opened~.mm-slideout {
        -webkit-transform: translate3d(-440px, 0, 0);
        transform: translate3d(-440px, 0, 0)
    }
}

.mm-menu_position-front.mm-menu_position-right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}

.mm-menu_shadow-page.mm-menu_position-right:after {
    left: auto;
    right: 100%;
    -webkit-clip-path: polygon(20px 0, 40px 0, 40px 100%, 20px 100%);
    clip-path: polygon(20px 0, 40px 0, 40px 100%, 20px 100%)
}

@media(min-width: 992px) {
	.home-slider .item .bg-slider {
	    display: flex !important;
	    max-height: 525px;
	    position: relative;
	    align-items: flex-end;
	    justify-content: center;
	    overflow: hidden;
	}
	.home-slider .item .bg-slider img {
		width: 100%;
	    height: auto;
	    max-height: inherit;
	}
}

@media(max-width: 1800px) {
	.home-slider .item .bg-slider {
	    height: 430px;
	}
}
@media(max-width: 1600px) {
	.home-slider .item .bg-slider {
	    height: 400px;
	}
}
@media(max-width: 1400px) {
	.home-slider .item .bg-slider {
	    height: auto;
	}
}
@media(max-width: 1199px) {
	.home-slider .item .bg-slider {
		height: auto;
	}
}

/* Update CSS */
.modal-first .modal-body {
	padding: 0;
}
.modal-first .close {
	color: #fff;
	top: 0;
	right: 0;
}
.box-btn-wheel .box-button .btn {
	border: none !important;
}
.modal .box-btn-wheel .box-button .btn {
	border: none !important;
    padding: 10px 15px 8px;
}
.modal-award .modal-content {
    background-image: url('../img/bg-award.jpg');
    background-size: cover;
    background-position-x: center;
}
.modal-award .content-popup {
	padding: 0;
}
.modal-award .title-1 {
    color: #fff;
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
}
.modal-award .title-award {
    color: #fff;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	letter-spacing: 2px;
}
.modal-award .box-icon-award {
    margin: 20px 0;
    height: 400px;
}
.modal-award .box-input-code .btn-copycode {
    background: #FF9200;
    color: #fff;
}
.modal-award .box-input-code input {
	height: 50px;
}
.modal-award .box-input-code .btn-copycode {
    line-height: 50px;
}
.modal-award .text-noti {
	color: #fff;
	font-weight: 300;
}
.award-image{
	max-width: 300px;
}
.title-voucher , .title-big , .input-code{
	text-align: center;
}
.input-code-x{
	width: 79% !important;
	border: 1px solid #43BAF3;
	outline: none;
	border-radius: 5px;
	text-align: center;
}

.horse-animation, .horse-animation-2 {
	opacity: 0;
}
.horse-animation.active {
	opacity: 1;
	position: absolute;
	bottom: 0;
	animation: animationFrames infinite 4s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	animation-fill-mode:forwards; /*when the spec is finished*/
	-webkit-animation: animationFrames infinite 4s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
	z-index: 3;
	pointer-events: none;
}
@keyframes animationFrames{
  0% {
    transform: translate(120%,0px) ;
  }
  60% {
    transform: translate(-120%,0px) ;
  }
  100% {
    transform: translate(-120%,0px) ;
  }
}

.horse-animation-2 {
	z-index: 99990999;
}
.horse-animation-2.active {
	opacity: 1;
	animation: horseRun alternate 3s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	animation-fill-mode:forwards; /*when the spec is finished*/
	-webkit-animation: horseRun alternate 3s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
	height: 100%;
	/* animation-delay: 4s; */
}
@keyframes horseRun{
  0% {
    transform: translate(-100%,50%);
  }
  100% {
    transform: translate(100%,-100%) ;
  }
}

.section-2 .bg-wheel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	/* height: auto; */
	height:100%;
}
.blind-left {
	position: absolute;
	display: block;
	right: calc(50% - 1px);
	top: -30px;
	z-index: 0;
}
.blind-left.active {
	animation: blindleft alternate 2s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	animation-fill-mode:forwards; /*when the spec is finished*/
	-webkit-animation: blindleft alternate 2s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
	
}
@keyframes blindleft{
  0% {
    right: calc(50% - 1px);
    transform: rotate(0);
  }
  /* 10% {
    transform: rotate(-4deg);
  }
  20% {
    transform: rotate(-4deg);
  }
  30% {
    transform: rotate(-6deg);
  }
  40% {
    transform: rotate(-8deg);
  } */
  50% {
    transform: rotate(-10deg);
  }
  /* 60% {
    transform: rotate(-8deg);
  }
  70% {
    transform: rotate(-6deg);
  }
  80% {
    transform: rotate(-4deg);
  }
  90% {
    transform: rotate(-2deg);
  } */
  100% {
    right: 100%;
    transform: rotate(0);
  }
}
.blind-right {
	position: absolute;
	display: block;
	left: calc(50% - 1px);
	top: 0;
	z-index: 0;
}
.blind-right.active {
	animation: blindright alternate 2s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	animation-fill-mode:forwards; /*when the spec is finished*/
	-webkit-animation: blindright alternate 2s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
	
}
@keyframes blindright{
  0% {
    left: calc(50% - 1px);
    transform: rotate(0);
  }
  /* 10% {
    transform: rotate(-4deg);
  }
  20% {
    transform: rotate(-4deg);
  }
  30% {
    transform: rotate(-6deg);
  }
  40% {
    transform: rotate(-8deg);
  } */
  50% {
    transform: rotate(10deg);
  }
  /* 60% {
    transform: rotate(-8deg);
  }
  70% {
    transform: rotate(-6deg);
  }
  80% {
    transform: rotate(-4deg);
  }
  90% {
    transform: rotate(-2deg);
  } */
  100% {
    left: 100%;
    transform: rotate(0);
  }
}


/* RESPONSIVE */
@media (min-width: 768px) {

}

@media (max-width: 991px) {
	.section-mobile {
		display: none;
		transition: all 1s;
		padding-top: 40px;
	    min-height: 100vh;
	}
	.section-mobile.active {
		display: block;
	}
	.section-2 {
	    min-height: 100vh;
	}
	.section-2 .bg-wheel img {
	    width: auto;
	    height: auto;
		/* max-width: 100%; */
		max-height: 100%;
	}

	.section-2 .bg-wheel {
		position: absolute;
		top: calc(50% - 800px);
		left: calc(50% - 800px);
		right: 0;
		width: 1600px;
		height: 1600px;
	
	    min-height: 100vh;
	}
	@-webkit-keyframes bg-rotate {
	  from {-webkit-transform:rotate(0deg);}
	  to {  -webkit-transform:rotate(360deg);}
	}
	@-moz-keyframes bg-rotate {
	  from {-moz-transform:rotate(0deg);}
	  to {  -moz-transform:rotate(360deg);}
	}

	
}
@media (max-width: 767px) {
	.page {
	    padding-top: 0;
	}
	.section-2 .box-btn-wheel {
		margin-top: 10px;
	}
	.modal-award .title-1 {
	    font-size: 14px;
	}
	.modal-award .title-award {
	    font-size: 22px;
        margin-top: 10px;
	}
	.modal-award .box-icon-award {
	    height: 280px;
	    margin: 20px 0;
	}
	.box-wheel .wheel {
	    margin-left: -30px;
	    margin-right: -30px;
	}
}

@media (max-width: 480px) {
	.modal-award .content-popup {
	    padding: 20px 0;
	}
}
