{% extends "layout.twig" %}

{% block pre_include %}
    {% set seo = Seo() %}
    <title>{{seo.meta_title ? seo.meta_title:article.title}}</title>
{% endblock %}

{% block post_include %}{% endblock post_include %}

{% block content %}

    {% set blog = Blog(article.blogs[0].handle) %}
 

{% endblock content %}