{% extends "layout.twig" %}

{% block pre_include %}
 {% set seo = Seo() %}
    <title>{{seo.meta_title ? seo.meta_title:collection.title}}</title>
{% endblock pre_include %}

{% block post_include %}
 <script src="{{shop.static}}/libs/twbsPagination.min.js"></script>
    <script type="text/javascript">
        var page_number,
            total;
        page_number = jQuery(document).find('#pagination').data('page_number');
        total = jQuery(document).find('#pagination').data('total');
        if (total && parseInt(total) > 1) {
            jQuery(document).find('#pagination').twbsPagination('destroy');
            jQuery(document).find('#pagination').twbsPagination({
                totalPages: parseInt(total),
                visiblePages: 5,
                startPage: parseInt(page_number),
                initiateStartPageClick: false,
                paginationClass: 'page_nav',
                pageClass: '',
                anchorClass: '',
                first: false,
                prev: '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                prevClass: '',
                next: '<i class="fa fa-angle-right" aria-hidden="true"></i>',
                nextClass: '',
                activeClass: 'active',
                disableClass: 'disabled',
                last: false,
                href: false,
                onPageClick: function (event, page) {
                    var href = location.href;
                    var s = location.search;
                    if (! s || ! s.indexOf('?page=')) {
                        if (page == 1) 
                            href = location.pathname;
                         else 
                            href = location.pathname + '?page=' + page;
                        
                    } else {
                        if (href.indexOf('&page=') > -1) 
                            href = href.substring(0, href.indexOf('&page='));
                        
                        if (page > 1) 
                            href = href + '&page=' + page;
                    }
                    location.href = href;
                }
            });
        }
    </script>
                <div id="pagination" data-page_number="{{paginate.current_page}}" data-total="{{paginate.total_pages}}"></div>

{% endblock post_include %}

{% block content %}
   

{% endblock content %}