<!DOCTYPE html>
<html>
<head>
  <title>Tạo mật khẩu</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="icon" href="/static/img/favicon.ico">
  <link rel="stylesheet" href="/static/libs/bootstrap.min.css">
  <link rel="stylesheet" href="/static/libs/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/libs/toastr.min.css">
  <script src="/static/libs/jquery.min.js"></script>
  <script src="/static/libs/toastr.min.js"></script>
  <style>
    .login-box { width: 300px; margin:100px auto 0; text-align: center; }
    .btn-login { background-color: $main_color !important; box-shadow: none !important; border: none !important; outline: 0 !important;}
  </style>
</head>
<body>
<div class="login-box">
  <h3>TẠO MẬT KHẨU</h3>
  <div class="login-box-body">
    <form data-random={{ random }}>
      <div class="form-group has-feedback">
        <input type="password" placeholder="Password" name="password" required class="form-control"><span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" placeholder="Repeat Password" name="repeat_password" required class="form-control"><span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat btn-login">Tạo mật khẩu</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  $('form').on('submit', function(e) {
    e.preventDefault();
    var random = $(this).data('random');
    var password = $("input[name='password']").val();
    var repeat_password = $("input[name='repeat_password']").val();
    if (password != repeat_password) {
      toastr.error("Mật khẩu không chính xác");
      return;
    }
    $.ajax({
      type: 'PUT',
      url: '/api/user/password',
      data: {
        random: random,
        password: password
      },
      success: function(json) {
        if(!json.code) {
          toastr.success("Tạo mật khẩu thành công");
          setTimeout(function() {
            location.href = '/admin/login';
          });
        } else toastr.error('Có lỗi xảy ra, xin vui lòng thử lại');
      }
    });
  });
</script>
</body>
</html>