{% extends "layout.twig" %}
{% block pre_include %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

{% endblock pre_include %}

{% block content %}

  {% include 'snippet/header_fix.twig' %}
  <div class="page">
    <section class="section-header section-mobile" id="section-1">
      {% include 'snippet/header_top.twig' %}
    </section>
    {% include 'snippet/section-2.twig' %}
    {% include 'snippet/section-3.twig' %}
    {% include 'snippet/section-4.twig' %}
    {% include 'snippet/section-5.twig' %}
    {# {% include 'snippet/section-7.twig' %} #}
    {% include 'snippet/footer.twig' %}
  </div>

  <div class="modal" id="w-award" role="dialog">
    <div class="modal-dialog w-verify">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <button class="close" data-dismiss="modal" type="button">
            <i id="closePopupBtn" onclick="closePopup()">x</i>
          </button>
          <div style="text-align: center">
            <img class="award-image" src="{{theme.uri}}/assets/chuc-mung.png">
          </div>
          <h3 class="title-big"></h3>
          <div class="input-code">
            <input aria-label="Code Prize" class="input-code-x" id="text-code" type="text" value="">
          </div>
          <div style="text-align:center;">
            <a class='btn btn-buy-cart' id="btn-buy" onclick="closePopup()">
              Mua hàng
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="w-verify" role="dialog">
    <div class="modal-dialog w-verify">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <button class="close" data-dismiss="modal" type="button">
            <i id="closePopupBtn" onclick="closePopup()">x</i>
          </button>
          <div style="text-align: center">
            <img class="award-image" src="{{theme.uri}}/assets/chuc-mung.png">
          </div>
          <h5 class="title-voucher">Chúc mừng bạn đã nhận được phần quà</h5>
          <h3 class="title-big"></h3>
          <div class="input-code">
            <input aria-label="Code Prize" class="input-code-x" id="text-code" type="text" value="">
          </div>
          <div style="text-align:center;">
            <a class='btn btn-buy-cart' id="btn-buy" onclick="closePopup()">
              Mua hàng
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal 2 Nhập mã GrabFood-->
  <script>
      let pizzaCount = 8;

      const rewards = [
          {
              sku: 'VOUCHER40%',
              title: 'Voucher giảm giá 40%',
              type: 'percentage'
          }, {
              sku: 'VOUCHER40%',
              title: 'Voucher giảm giá 40%',
              type: 'percentage'
          }, {
              sku: 'VOUCHER10%',
              title: 'Voucher giảm giá 10%',
              type: 'percentage'
          }, {
              sku: 'VOUCHER30%',
              title: 'Voucher giảm giá 30%',
              type: 'percentage'
          }, {
              sku: 'VOUCHER20%',
              title: 'Voucher giảm giá 20%',
              type: 'percentage'
          }, {
              sku: 'VOUCHER40%',
              title: 'Voucher giảm giá 40%',
              type: 'percentage'
          }, {
              sku: 'COUPON10%',
              title: 'COUPON giảm giá 10%',
              type: 'percentage'
          }, {
              sku: 'GIAY',
              title: 'Bạn trúng 1 đôi giày',
              type: 'gift'
          }
      ];
      ;
  </script>
{% endblock content %}
{% block post_include %}
  <style>
    #wheel-wrapper {
      width: 700px;
      height: 814px;
      position: relative;
      margin: auto;
    }
    .w-verify{
       width: 40%;
     }

    @media screen and ( max-width : 768px ) {
      .w-verify {
        width: 80%;
      }
    }


    #wheel-wrapper > div {
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
    }

    #base {
      width: 72.16%;
      height: 73%;
      top: 51.72%;
      margin-left: -36.08%;
      left: 50%;
      background-image: url('{{theme.uri}}/assets/base.svg');
    }

    #ring {
      width: 100%;
      height: 80%;
      top: -6%;
      margin-left: -50%;
      left: 48%;
      background-image: url('{{theme.uri}}/assets/ring.png');
      z-index: 1000;

    }

    #slogan {
      width: 53.2%;
      height: 53%;
      top: 71.1%;

      margin-left: -26.6%;
      left: 50%;
      z-index: 1003;
    }

    #button {
      z-index: 1005;
      width: 12.26%;
      height: 100px;
      top: 27.38%;
      left: 51%;
      margin-left: -8.13%;
      background-image: url('{{theme.uri}}/assets/base.png');
    }

    #woay {
      width: 100%;
      z-index: 10;
    }

    #myCanvas {
      width: 59%;
      height: 49%;
      top: 8%;
      left: 19.5%;
    }

    .my-modal-dialog {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    .my-modal-content {
      height: 100%;
      border-radius: 0;
      color: white;
      overflow: auto;
    }
  </style>

  <script>
      function responsiveWoay(w) {
          let width = w;
          let height = w * (814 / 700);
          $(document).find('#wheel-wrapper').css({"height": height, "width": width});
      }

      $(window).resize(function () {
          let screenWidth = $(window).width();

          if (screenWidth < 424) {
              responsiveWoay(300);
              return;
          }
          if (screenWidth < 426) {
              responsiveWoay(425);
              return;
          }
          if (screenWidth < 769) {
              responsiveWoay(700);
              return;
          }
          responsiveWoay(700);
      });
      $(window).resize();
  </script>

{% endblock %}
