<!DOCTYPE HTML>

<html lang="en-us">

    <head>
        <meta charset="utf-8">
        <meta
        content="vi" http-equiv="Content-Language">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <meta content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1" name="viewport">
        <title>2T - Thoả ga mua sắm</title>
        <meta content="index" name="robots"/>
        <meta content="Từ ngày 21/01/2019, khi đặt hàng trên GrabFood, với mỗi đơn hàng có giá trị từ 99.000đ, khách hàng sẽ nhận được một mã dùng để quay số trúng thưởng." name="description"/>
        <meta content="https://thagamonngon.vn/images/kv-grab.jpg" property="og:image"/>
        <meta content="1200" property="og:image:width"/>
        <meta content="630" property="og:image:height"/>
        <meta content="vi_VN" property="og:locale"/>
        <meta content="website" property="og:type"/>
        <meta content="Thả ga món ngon, nhà vui trọn tết | Grab VN" property="og:title"/>
        <meta content="Từ ngày 21/01/2019, khi đặt hàng trên GrabFood, với mỗi đơn hàng có giá trị từ 99.000đ, khách hàng sẽ nhận được một mã dùng để quay số trúng thưởng." property="og:description"/>
        <meta content="https://thagamonngon.vn" property="og:url"/>
        <meta content="Tha Ga Mon Ngon" property="og:site_name"/>
        <meta content="summary_large_image" name="twitter:card"/>
        <meta content="@GrabVN" name="twitter:site"/>
        <meta content="@GrabVN" name="twitter:creator"/>
        <meta content="Thả ga món ngon, nhà vui trọn tết | Grab VN" name="twitter:title"/>
        <meta content="Từ ngày 21/01/2019, khi đặt hàng trên GrabFood, với mỗi đơn hàng có giá trị từ 99.000đ, khách hàng sẽ nhận được một mã dùng để quay số trúng thưởng." name="twitter:description"/>
        <meta content="https://thagamonngon.vn/images/kv-grab.jpg" name="twitter:image"/>
        <meta content="1200" name="twitter:image:width"/>
        <meta content="630" name="twitter:image:height"/>
        {% include 'snippet/pre_include.twig' %}
        {% block pre_include %}              
        {% endblock %}       
    </head>
    <body>
        {% block content %}              
        
        {% endblock %}       
        {% include 'snippet/post_include.twig' %}
        {% block post_include %}              
        {% endblock %}       

    </body>
</html>
