{% extends "layout.twig" %}
{% block pre_include %}
   {% set seo = Seo() %}
    <title>{{seo.meta_title ? seo.meta_title:page.title}}</title>

{% endblock pre_include %}
{% block post_include %}
   

{% endblock post_include %}

{% block content %}
  
{% endblock %}