{% extends "layout.twig" %}
{% block pre_include %}
{% set seo = Seo() %}
    <title>{{seo.meta_title ? seo.meta_title:product.title}}</title>
{% endblock pre_include %}

{% block post_include %}
   

{% endblock post_include %}

{% block content %}
    {% set collection = Collection(product.collections[0].handle) %}
   

{% endblock content %}