{% extends "layout.twig" %}

{% block pre_include %}
    <title>Kết quả tìm kiếm
        {{search.terms ? search.terms : search.tag }}</title>
{% endblock %}
{% block post_include %}
    <script src="{{shop.static}}/libs/twbsPagination.min.js"></script>
   

{% endblock post_include %}
{% block content %}
  
{% endblock content %}