<div style="left: 0px; top: 0px; width: 485px; height: 564.233px; position: relative;">
	<div
		style="position: absolute; left: 76.2314px; top: 303.725px; width: 350.244px; height: 152.163px; background-size: contain; background-image: url(&quot;https://storage.woay.net/user/grab/grabhorse/de vong xoay.svg&quot;);">
	</div>
	<div style="position: absolute; left: 104.443px; top: 43.8181px; width: 288.419px; height: 288.719px; background-size: contain;">
		<img id="wheel-img" class="hidden" src="{{theme.uri}}/images/woay.png">
		<canvas id="woay" width="576" height="576" style="position: absolute; top: -144px; left: -144px; transform: scale(0.5) rotate(0rad);"></canvas></div>
	<div
		style="position: absolute; left: 0px; top: 0px; width: 485px; height: 446.584px; background-size: contain; background-image: url(&quot;https://storage.woay.net/user/grab/grabhorse/khung_2.png&quot;);">
	</div>
	<div
		style="position: absolute; left: 122.45px; top: 401.566px; width: 258.106px; height: 138.897px; background-size: contain; background-image: url(&quot;https://storage.woay.net/user/grab/grabhorse/mon doc quan quen.png&quot;);">
	</div>
	<div id="btn-woay"
		style="position: absolute; left: 208.886px; top: 148.861px; width: 78.9325px; height: 78.9325px; background-size: contain; background-image: url(&quot;https://storage.woay.net/user/grab/grabhorse/tam vong xoay.svg&quot;); cursor: pointer;">
	</div>
</div>


<img id="wheel-img" class="hidden" src="{{theme.uri}}/images/woay.png">
<canvas id="woay" width="516" height="516"
	style="position: absolute; top: -129px; left: -129px; transform: scale(0.5) rotate(0rad);"></canvas>