<footer class="footer section-mobile">

  <div class="bot-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 policy">
          <div class="col-md-3 info-company">
            <div class="logo-footer" style="display:flex">
						<span>
							<a href="/" class="box-img-left">
								<img src="{{ theme.uri }}/assets/logo.png" alt="">
							</a>
							</span>
            </div>
          </div>
          <div class="col-md-9">
            <ul>
              <li><a target="_blank" href="https://www.grab.com/vn/terms/">Quy chế hoạt động và Điều khoản sử dụng</a>
              </li>
              <li><a target="_blank" href="https://www.grab.com/vn/privacy/">Chính sách bảo mật</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <p class="copyright text-center">© 2T 2019</p>
        </div>
        <div class="col-md-4 playstore">
          <ul class="list-inline">
            <li><a target="_blank"
                   href="https://app.appsflyer.com/id647268330?pid=VN-Website-IOS-Install_Button&amp;c=Website_Download"
                   class="box-img"><img src="{{ theme.uri }}/images/icons/app-store.png" alt=""></a></li>
            <li><a target="_blank"
                   href="https://app.appsflyer.com/com.grabtaxi.passenger?pid=VN-Website-ADR-Install_Button&amp;c=Website_Download"
                   class="box-img"><img src="{{ theme.uri }}/images/icons/google-play.png" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
