<!-- Header fixed -->
	<div id="menu-center" class="menu-fixed">
		<div class="menu-scroll row">
<div class="col-sm-8 menu-x">
	<div class="col-sm-2 box-name-menu"> <a class="link-scroll" href="#vongquaymayman">Vòng quay may mắn</a></div>
	<div class="col-sm-2 box-name-menu"> <a class="link-scroll" href="#thelechuongtrinh">Thể lệ tham dự</a></div>
	<div class="col-sm-2 box-name-menu"> <a class="link-scroll" href="#cachthucthamgia" >Cách thức tham gia</a></div></div>

		<div class="col-sm-4 cart-box">
            <button id="cart-menu-btn" onClick="showCart()">
                <a class="link-scroll" style="cursor: not-allowed"><i class="fa fa-cart-plus" style="font-size: 25px"></i></a>
            </button>
            <div id="cartHeader" class="cart_block block exclusive hidden" >
                <div class="block_content">
                    <div class="view-cart-item-header">
                        <ul class="view-cart-menu-header"></ul>
                    </div>
                    <div class="view-cart-header">
						<div class="view-cart-header-sub"></div>
                        <button class="btn btn-view-cart" data-target="#exampleModal" data-toggle="modal" id="btn-buy">Đặt hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

	<!-- end Menu fixed -->

	<!-- Header mobile -->
	<div class="header-mobile">
		<a class="icon-menu" href="#menu"><span></span></a>
		<nav id="menu">
			<ul class="">
				{# {% for menu in Menu('header-mobile')%} #}
					{# {% if loop.index == loop.length %} #}
						<li><a class="link-popup" data-section="products" href="javascript:;" >Kiểm tra phần thưởng</a></li>
					{# {% elseif loop.index == loop.length -1 %} #}
					{# {% else %} #}
					<li><a class="link-section" data-section="vongquaymayman" href="javascript:;">Vòng quay may mắn</a></li>
					<li><a class="link-section" data-section="thelechuongtrinh" href="javascript:;">Thể lệ tham dự</a></li>
					{# <li><a target="link-section" data-section="products" href="javascript:showProductMobile();">Mua hàng trực tiếp</a></li> #}
					<li><a class="link-popup" href="javascript:;" >Giỏ hàng</a></li>
				{# {% endfor %} #}
			</ul>
		</nav>
	</div>
<style>
	#cartHeader{
		width: 80%;
		position: absolute;
		right: 20px;
		top: 85%;
	}
	.box-cart-item-header{
		display: flex;
		width: 100%;
		padding: 10px;
		border-bottom: 1px solid #43BAF3;
	}
	.img-cart-header{
		width: 40%;
		padding: 10px;
	}
	.box-name-cart-header{
		width: 60%;
		padding: 10px;
	}
	.text-name-cart-header{
		text-align: left;
		padding: 10px;
		font-weight: 600;
	}
	.box-mount{
		text-align: left;
		padding: 10px;
	}
	.menu-x{
		display: flex;
		justify-content: flex-end;
	}

	.cart-box, .box-name-menu {
        padding: 10px;
    }
    .cart_block {
        position: absolute;
        top: 35px;
        right: 0;
        border: 0;
        z-index: 100;
        height: auto;
        color: #636363;
        width: 270px;
    }
    .shopping_cart {
        position: absolute;
        right: 15px;
        top: 0;
        z-index: 1;
    }
    .cart_block .block_content {
        border: 1px solid #43BAF3;
        border-top: 3px solid #43BAF3!important;
        margin: 7px 0 0 !important;
        background: #fff;
			border-radius: 5px;
			overflow: hidden;
    }
    #cart-menu-btn {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
    .view-cart-item-header {
      height: 328px;
        overflow-y: scroll;
    }

</style>
	<!-- end Header mobile -->
<script>
	function showCart(){
		if(cart.length==0){
			toastr.warning('Chưa có sản phẩm trong giỏ hàng!');
		}
		if(cart.length!=0){
			$("#cartHeader").toggleClass('hidden');
		}
	}
	function showProductMobile(){
		$('#products').fadeIn();
		$('html').removeClass('mm-wrapper_opened mm-wrapper_blocking mm-wrapper_background mm-wrapper_opening').addClass('gr__localhost');
	}
</script>
