<header class="header">
				<div class="container">
					<div class="col-md-2">
						<div class="logo">
							<a href="/" class="box-img-left">
							<span>	<img class="img-responsive" src="{{theme.uri}}/assets/logo.png" alt=""></span>
                            <span style=" font-weight:600"> Nơi Tình Yêu Bắt Đầu<span>
							</a>
						</div>
					</div>
					<div class="col-md-10 menu-header">
						<ul class="list-inline menu-scroll">
                            {% for menu in Menu('header-top').children %}
                                {% if  loop.last %}
                                    <li class="has-child">
                                        <a href="javascript:;">{{menu.title}}<span><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                                        <ul class="menu-child">
                                            {% for subMenu in menu.children %}
                                                {% if loop.first %}
                                                    <li><a target="_blank" href="https://www.grab.com/vn/food/">{{subMenu.title}}</a></li>
                                                {% else %}
                                                    <li><a class="link-scroll" href="javascript:;" data-toggle="modal" data-target="{{subMenu.link}}">{{subMenu.title}}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
							        </li>
                                    
                                {% else %}
                                    <li><a class="link-scroll" href="{{menu.link}}">{{menu.title}}</a></li>
                                {% endif %}
                            {% endfor %}
							
						</ul>
					</div>
				</div>
			</header>