<audio class="hidden" controls id="audio_wheel">
    <source src="{{theme.uri}}/audio/wheel-grabfood.mp3" type="audio/mpeg">
</audio>
<!-- <canvas id="confetti" style="position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 2000; pointer-events: none"></canvas> -->
<script src="{{theme.uri}}/js/bootstrap.min.js"></script>
<script src="{{theme.uri}}/js/owl.carousel.min.js"></script>
<script src="{{theme.uri}}/js/jquery.mmenu.js"></script>
<script src="{{theme.uri}}/js/firemaks.js" type="text/javascript"></script>
<!-- <script src="js/confetti.js"></script> -->
<script src="{{theme.uri}}/js/main.js"></script>

<script>
    var iOS = navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform)
    if (iOS) 
        preventZoomOnFocus();
    

    function preventZoomOnFocus() {
        document.documentElement.addEventListener("touchstart", onTouchStart);
        document.documentElement.addEventListener("focusin", onFocusIn);
    }

    let dont_disable_for = [
        "checkbox",
        "radio",
        "file",
        "button",
        "image",
        "submit",
        "reset",
        "hidden"
    ];
    // let disable_for = ["text", "search", "password", "email", "tel", "url", "number", "date", "datetime-local", "month", "year", "color"];

    function onTouchStart(evt) {
        let tn = evt.target.tagName;

        // No need to do anything if the initial target isn't a known element
        // which will cause a zoom upon receiving focus
        if (tn != "SELECT" && tn != "TEXTAREA" && (tn != "INPUT" || dont_disable_for.indexOf(evt.target.getAttribute("type")) > -1)) 
            return;
        

        // disable zoom
        setViewport("width=device-width, initial-scale=1.0, user-scalable=0");
    }

    // NOTE: for now assuming this focusIn is caused by user interaction
    function onFocusIn(evt) { // reenable zoom
        setViewport("width=device-width, initial-scale=1.0, user-scalable=1");
    }

    // add or update the <meta name="viewport"> element
    function setViewport(newvalue) {
        let vpnode = document.documentElement.querySelector('head meta[name="viewport"]');
        if (vpnode) 
            vpnode.setAttribute("content", newvalue);
         else {
            vpnode = document.createElement("meta");
            vpnode.setAttribute("name", "viewport");
            vpnode.setAttribute("content", newvalue);
        }
    }
</script>
<script src="{{theme.uri}}/js/woay-script.js"></script>
<script src="{{theme.uri}}/js/rewards.js"></script>
