<link href="https://thagamonngon.vn" rel="canonical"/>
<link href="{{theme.uri}}/images/icons/favicon.ico" rel="shortcut icon">

<link href="{{theme.uri}}/css/font.css" rel="stylesheet">
<link href="{{theme.uri}}/css/font-awesome.css" rel="stylesheet">
<link href="{{theme.uri}}/css/bootstrap.min.css" rel="stylesheet">
<link href="{{theme.uri}}/css/jquery.mmenu.css" rel="stylesheet">
<link href="{{theme.uri}}/css/owl.carousel.min.css" rel="stylesheet">
<link href="{{theme.uri}}/css/style.css" rel="stylesheet">
<link href="{{ shop.static }}/libs/font-awesome.min.css">
<script rel="stylesheet" src="{{theme.uri}}/js/jquery-2.2.4.min.js"></script>
<link rel="stylesheet" href="{{shop.static}}/libs/toastr.min.css" type="text/css" media="all" />
<script type="text/javascript" src="{{ shop.static }}/libs/toastr.min.js"></script>
