<section class="section-5 section-mobile section section-padding bg-white" id="cachthucthamgia">
    <div class="container content-s5">
        <h3 class="title-main">CÁCH THỨC
            <span class="br"></span>THAM GIA</h3>
        <div class="row">
            <div class="home-slider-s5 slider-owl-3 owl-carousel owl-theme">
                <div class="item col-md-12 item-step text-center">
                    <div class="border">
                        <div class="box-img">
                            <img src="{{theme.uri}}/assets/b1.png" alt="">
                        </div>
                        <div class="step">Bước 1</div>
                        <p class="desc">Truy cập vào trang web</p>
                        </p>
                    </div>
                </div>
                <div class="item col-md-12 item-step text-center">
                    <div class="border">
                        <div class="box-img">
                            <img src="{{theme.uri}}/assets/b2.png" alt="">
                        </div>
                        <div class="step">Bước 2</div>
                        <p class="desc">Đăng nhập</p>
                    </div>
                </div>
                <div class="item col-md-12 item-step text-center">
                    <div class="border">
                        <div class="box-img">
                            <img src="{{theme.uri}}/assets/b3.png" alt="">
                        </div>
                        <div class="step">Bước 3</div>
                        <p class="desc">Quay và nhận thưởng</p>
                    </div>
                </div>
                <div class="item col-md-12 item-step text-center">
                    <div class="border">
                        <div class="box-img">
                            <img src="{{theme.uri}}/assets/b4.png" alt="">
                        </div>
                        <div class="step">Bước 4</div>
                        <p class="desc">Mua hàng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .box-img > img{
        object-fit: contain;
    }
</style>
