<section class="section-3 section-mobile section-padding bg-white" id="products" style="display:none">
  <div class="container">
    <div class="row">
      <div class="content-s4" >
        <div class="border-dashed"></div>
        <h3 class="title-main hidden-xs">Mua hàng trực tiếp</h3>
        <div class="col-md-12 product-content">
          <div class="row" style="display: flex; flex-wrap: wrap;">
            {% set collection = Collection("all") %}

            {% for product in collection.products %}
              <div class="col-md-4 col-xs-6 box-product">
                <div class="box-img">
                  <img src="{{ product.image | upload_url }}"/>
                </div>
                <h3 class="text-center">
                  <a href="{{ product.url }}" title="{{ product.title }}">{{ product.title }}</a>
                </h3>
                <div class="box-btn-cart">
                  <div class="">
                    <a class="btn btn-addCart" onclick="addToCart({{ product.id }})">Mua</a>
                  </div>
                  <div class="">
                    <p>{{ product.price | money }}đ</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

        </div>

      </div>
    </div>
  </div>
  <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog"
       tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header color-main-2t">
          <h2 class="modal-title text-center" id="exampleModalLabel">Vui lòng điền thông tin giao hàng</h2>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="padding: 20px">
          <div class="row">
            <div class="col-md-6">
              <div class="shipping-info-header">
                <h3 class="text-center">THÔNG TIN GIAO HÀNG</h3>
              </div>
              <div class="row">
                <div class="customer-checkout-form" style="padding: 10px">
                  <label for="name">
                    <i class="fa fa-user"></i>
                    Thông tin người nhận</label>
                  <input id="name" name="name" placeholder="John M. Doe" type="text">
                  <label for="adr">
                    <i class="fa fa-address-card-o"></i>
                    Địa chỉ nhận hàng</label>
                  <input id="adr" name="address" placeholder="542 W. 15th Street" type="text">
                  <label for="phone">
                    <i class="fa fa-phone"></i>
                    Số điện thoại nhận hàng</label>
                  <input id="phone" name="phone" placeholder="..." type="text">
                  <label for="email">
                    <i class="fa fa-envelope"></i>
                    Email </label>
                  <input id="email" name="email" placeholder="john@example.com" type="text">
                  <h4>Chọn đơn vị giao hàng</h4>
                  <form>
                    <input checked name="method-shipping" type="radio" value="VIETTEL">
                    Viettel Post<br>
                    <input name="method-shipping" type="radio" value="GHN">
                    Giao hàng nhanh<br>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="box-cart">
                <div class="name-cart">Giỏ hàng</div>
                <div class="view-cart-item" style="padding: 15px 25px;">
                  <ul class="view-cart-menu-b">

                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn color-main-2t" id="btn-buy-book" type="button">Đặt hàng</button>
        </div>
      </div>
    </div>
  </div>
  
</section>
<div class="modal fade in" id="myModalLogin" role="dialog">
    <div class="modal-dialog" style="width:58%">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header color-main-2t" >
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="text-align:center; color: white; ">Đăng nhập để tiếp tục</h4>
        </div>
        <div class="signin-form" style="padding: 20px 35px">
            <label for="name">
                <i class="fa fa-user"></i>
                Họ và tên</label>
                <input id="name" name="nameSignin" placeholder="John M. Doe" type="text">
            <label for="phone">
                <i class="fa fa-phone"></i>
                Số điện thoại</label>
                <input id="phone" name="phoneSignin" placeholder="...." type="text">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default color-main-2t" data-dismiss="modal" >Gửi thông tin</button>
        </div>
      </div>
      
    </div>
  </div>
<style>
  input[type=text]{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #43BAF3;
    border-radius: 3px;
  }
  .modal-dialog{
   border-radius: 10px;
    width:70%;
    background-color:white;
    overflow: hidden;
  }
  .content-s4 {
    padding: 15px 15px 70px;
    border-radius: 20px;
  }
  .color-main-2t{
    background-color: #43BAF3;
    color: white;
  }

  .view-cart-product {
    border-bottom: 1px #f5f5f5 solid;
    padding: 15px 25px;
    font-weight: 600;
  }

  .box-btn-cart {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .btn-addCart {
    padding: 5px 15px;
    background-color: #43BAF3;
    color: white;
  }

  .box-product {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
  }


  li .item .item-main-content .item-name {
    font-weight: 600;
  }

  .btn-sub-add {
    border: none;
    background-color: white;
    outline: none !important;
    width: 25px;
  }

  .name-cart {
    background-color: #43BAF3;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    font-size: 24px;
  }

  .product-content {
    height: 760px;
    overflow-y: scroll;
    display: flex;
  }

  .price-total {
    font-weight: 400;
    float: right;
  }

  .box-cart {
    background-color: white;
    border: 2px solid #43BAF3;
    border-radius: 5px;
  }

  .view-cart-item,
  .view-cart,
  .total-item-cart,
  .total-money {
    padding: 15px 25px;
  }

  .total-item-cart,
  .total-money {
    padding: 15px 25px;
    border-bottom: 1px #f5f5f5 solid;
    border-radius: 5px;
    text-align: left;
    font-weight: 600;
  }

  .btn-view-cart {
    background-color: #43BAF3;
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    outline: none;
  }

  .cart-price,
  .price-total,
  .add-to-cart {
    font-weight: 400;
    float: right;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #43BAF3;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }
</style>
<script src="{{ theme.uri }}/js/cart.js"></script>
<script>
    var products = {{ collection.products | json_encode | raw }};
</script>
