<section class="section-7 section-mobile">
    <div class="bg-white">
        <div class="container">
            <div class="img-bottom-s7">
                <img src="{{theme.uri}}/assets/city-firework.png" alt="">
            </div>
        </div>
    </div>
</section>
