<section class="section-4 section-mobile section-padding bg-white" id="thelechuongtrinh">
    <div class="container">
        <h3 class="title-main m-title visible-xs">
            <span class="br">THỂ LỆ</span>
            CHƯƠNG TRÌNH</h3>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="content-s4">
                    <div class="border-dashed"></div>
                    <h4 class="title-main hidden-xs">THỂ LỆ CHƯƠNG TRÌNH</h4>
                    <div class="text-editor">
                        {{ settings.proRules | raw }}
                    </div>
                </div>
                <div class="box-button">
                    <a class="btn-main btn-readmore" href="javascript:;">TÌM HIỂU CHI TIẾT</a>
                    
                </div>
            </div>
        </div>
    </div>
</section>
