<section class="section-2 section-mobile active" id="vongquaymayman">
    <div class="bg-wheel"><img src="{{theme.uri}}/assets/bg-wheel.jpg" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="box-wheel">
                <div id="wheel-wrapper">
                    <div id="base"></div>
                    <div id="ring"></div>
                    <div id="myCanvas">
                        <img class="hidden" id="wheel-img" src="{{theme.uri}}/assets/wheel.png">
                        <canvas height="800" id="woay" width="800"></canvas>
                    </div>
                    <div id="slogan"></div>
                    <div id="button" data-target="#myModalLogin" ></div>
                </div>
                <div class="box-horse show-ipad">
                    <img class="horse-animation" src="{{theme.uri}}/images/horse.png" alt="">
                    <img class="horse-animation-2" src="{{theme.uri}}/images/horse-3.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="waveWrapper waveAnimation">
        <div class="waveWrapperInner bgTop">
            <div class="wave waveTop" style="background-image: url('{{theme.uri}}/assets/wave-top.png')"></div>
        </div>
        <div class="waveWrapperInner bgMiddle">
            <div class="wave waveMiddle" style="background-image: url('{{theme.uri}}/assets/wave-mid.png')"></div>
        </div>
        <div class="waveWrapperInner bgBottom">
            <div class="wave waveBottom" style="background-image: url('{{theme.uri}}/assets/wave-bot.png')"></div>
        </div>
    </div>
</section>
<style>
    @keyframes move_wave {
        0% {
            transform: translateX(0) translateZ(0) scaleY(1)
        }
        50% {
            transform: translateX(-25%) translateZ(0) scaleY(0.55)
        }
        100% {
            transform: translateX(-50%) translateZ(0) scaleY(1)
        }
    }
    .waveWrapper {
        z-index:0;
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
    }
    .waveWrapperInner {
        position: absolute;
        width: 100%;
        overflow: hidden;
        height: 100%;
        bottom: -1px;
    }
    .bgTop {
        z-index: 15;
        opacity: 0.5;
    }
    .bgMiddle {
        z-index: 10;
        opacity: 0.75;
    }
    .bgBottom {
        z-index: 5;
    }
    .wave {
        position: absolute;
        left: 0;
        width: 200%;
        height: 100%;
        background-repeat: repeat no-repeat;
        background-position: 0 bottom;
        transform-origin: center bottom;
    }
    .waveTop {
        background-size: 50% 100px;
    }
    .waveAnimation .waveTop {
        animation: move-wave 3s;
        -webkit-animation: move-wave 3s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
    }
    .waveMiddle {
        background-size: 50% 120px;
    }
    .waveAnimation .waveMiddle {
        animation: move_wave 10s linear infinite;
    }
    .waveBottom {
        background-size: 50% 100px;
    }
    .waveAnimation .waveBottom {
        animation: move_wave 15s linear infinite;
    }
</style>
